{% extends "registration/base.html" %}
{% block content %}

<div>
    {% load i18n %}
    <div style="margin: 30 0 30 0">
        <div class="btn green" style="height: auto">
        {% blocktrans %}Your registration for event {{event}} is confirmed!{% endblocktrans %}
        </div>
        {% if event.assigned_seats %}
        {% blocktrans %}A confirmation email will be sent to you which also includes your seat number.{% endblocktrans %}
        {% endif %}
    </div>
    <a href="JavaScript:window.close()">{% trans "Close page." %} </a>
</div>

{% endblock %}
